@import "tailwindcss";

/* Ballina */
.nav-link {
  @apply text-gray-700 hover:text-blue-600 font-medium transition-colors duration-200;
}

.publikoPune {
  @apply px-6 py-2 bg-blue-600 text-white rounded-lg hover:bg-blue-700 font-medium transition-colors duration-200 cursor-pointer;
}

.kycja {
  @apply px-4 py-2 text-gray-700 hover:text-blue-600 font-medium transition-colors duration-200;
}

/* Butoni */
.butoniKycjeRegjistrim {
  @apply border block rounded-sm p-1 w-full sm:w-80 md:w-96 lg:w-[350px] h-10 sm:h-12 md:h-14 lg:h-10 hover:bg-blue-400 hover:text-white cursor-pointer;
}
.input {
  @apply border border-gray-400 rounded-sm p-3 w-full box-border;
}
.label {
  @apply text-gray-600 px-1 font-semibold;
}
.paragraf {
  @apply text-base;
}

.info {
  @apply text-gray-600 text-sm;
}
